<ul class="links">
    {% for id, link in items %}
    <li>
        <a href="{{ link.url }}" target="_blank">
            <figure>
                {% if link.customIcon %}
                <img src="{{ link.customIcon }}" alt="">
                {% elif link.selfhost %}
                <img src="{{ link.selfhost }}" alt="">
                {% elif link.icon %}
                <img src="{{ link.icon }}" alt="">
                {% else %}
                NOOO
                {% endif %}
            </figure>
            <div class="content">
                <h3>{{ link.name | truncate(89) }}</h3>
                <p>{{ link.description }}</p>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>