<!DOCTYPE html>
<html lang="en" data-theme="{{ data.global.default_mode }}">
<head>
    <title>homewarden</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        :root{
            --primary-color: {{ data.global.color }};
            --wrapper: {{ data.global.wrapper }};
            --font-size: {{ data.global.font_size }};
            --border-radius: {{ data.global.border_radius }};
        }
        </style>
    <link rel="stylesheet" href="/fonts/index.css">
    <link rel="stylesheet" href="./homewarden/view/style.css">
    <script type="module" src="./.cache/ninja-keys/dist/ninja-keys.js"></script>
    <script type="module" src="./homewarden/view/scripts.js"></script>
</head>

<body {% if data.global.bg_img -%}style="background-image: url(custom/{{ data.global.bg_img }})"{%- endif -%}>
    <header class="wrapper">
        <h1>homewarden</h1>
    </header>
    <main class="wrapper row">
        {% for key, category in data -%}
        {% if category and category.items %}
        {% if category.type == 'group' %}
        {% include "snippets/type.group.html" %}
        {% else %}
        {% include "snippets/default.html" %}
        {% endif %}
        {% endif %}
        {% endfor %}
    </main>
    <footer>
        <p>homewarden {{ data.global.dw_version }}</p>
    </footer>
    <ninja-keys></ninjas-keys>
</body>
</html>