<!DOCTYPE html>
<html lang="en">
<head>
    <title>HomeWarden</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
    navigator.serviceWorker.register('/sw.js')
    </script>
    <style>
        :root{
            --primary-color: {{ data.global.color }};
            --wrapper: {{ data.global.wrapper }};
            --font-size: {{ data.global.font_size }};
            --border-radius: {{ data.global.border_radius }};
        }
        </style>
    <link rel="stylesheet" href="/fonts/index.css">
    <link rel="stylesheet" href="/homewarden/view/style.css">
    <script type="module" src="./.cache/ninja-keys/dist/ninja-keys.js" defer></script>
    <script type="module" src="./homewarden/view/scripts.js" async></script>
</head>

<body {% if data.global.bg_img -%}style="background-image: url(custom/{{ data.global.bg_img }})"{%- endif -%} data-theme="{{ data.global.default_mode }}">
    <header id="banner" class="wrapper">
        <h1>HomeWarden</h1>
    </header>
    <main class="wrapper row">
        {% for key, category in data -%}
        {% if category and category.items %}
        {% if category.type == 'group' %}
        {% include "snippets/type.group.html" %}
        {% else %}
        {% include "snippets/default.html" %}
        {% endif %}
        {% endif %}
        {% endfor %}
    </main>
    <footer class="wrapper copyright">
        <span class="pill">
        homewarden {{ data.global.dw_version }} | 2025
    </span>
    </footer>
    <ninja-keys></ninjas-keys>
</body>
</html>