<!DOCTYPE html>
<html>

<head>
    <title>DashWarden</title>
    <style>
        :root{
            --primary-color: {{ data.global.color }};
            --wrapper: {{ data.global.wrapper }};
        }
        </style>
    
    <link rel="stylesheet" href="./view/style.css">
    <script type="module" src="https://unpkg.com/ninja-keys?module"></script>
</head>
<body>
    <main class="wrapper row">
        {% for key, category in data -%}
        {% if category.type == 'group' %}{% include "snippets/type.group.html" %}
        {% else %}
        {% include "snippets/default.html" %}
        {% endif %}
        {% endfor %}
    </main>
</body>
<ninja-keys class="dark"> </ninja-keys>
<script defer>
      const ninja = document.querySelector("ninja-keys");
      ninja.data = hotkeys;
  </script>
</html>
